@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    min-width: 100%;
    background-image: url('../src/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
button{
    background: none;
    border: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
}

.centro-inicio, .centro-apps{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    color: white;
    & .HoraDiv h3{
        font-weight: 300;
        font-size: 6.5em;
    }
    & .mes-dia-Div h3{
        font-weight: 300;
        font-size: 2.5em;
    }
}

.containerHorariosDia{
    display: flex;
    & h3{
        margin: 0px 10px;
        color: white;
    }
}

.containerBatWifi{
    & img{
        margin: 0px 10px;
    }
}

.botaoCimaDiv{
    transition: all 1000ms;
    & button:hover{
        opacity: 0.64;
    }
}
footer{
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botaoMinhaLogo{
    position: absolute;
    right: 3%;
    bottom: 2%;
    z-index: 10;
}
@media (max-width: 650px) {
     header{
        margin: 20px 10px;
    }
    .containerBatWifi{
        & img{
            height: 15px;
            width: auto;
            max-width: 21px;
            margin: 0px 5px;
        }
    }
    .footer{
        bottom: 2%;

    }
    .botaoCimaDiv{ 
        & button {
           & img{
            height: 80px;
            width: auto;  
            } 
        }
    }
    .botaoMinhaLogo{
        & img{
            height: 30px;
            width: auto;
        }
        
    }
}
